*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #080808;
    color: whitesmoke;
}
#header{
background-image: url(./images/background.png);
width: 100%;
height: 100vh;
background-size: cover;
background-position:center ;
}
 
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
 align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
 /* .container nav ul {
    ; 
} */

nav ul li {
    display: inline-block;
     list-style:none;
margin: 10px 20px;
}
nav ul li a{
    color:#ffff ;
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
    position: relative;
    
    
}
nav ul li a::before{
content:''; 
width:0;
height:3px;
background: #ff040f;
position: absolute;
left:0;
bottom:-6px;   
transition:0.5s;

}
  nav ul li a:hover::after{
width:50%;

}  
                                         /*txt section*/
.header-txt{
    margin-top: 15%;
    font-size: 30px;
   text-transform: capitalize;
}
.header-txt h1{
    margin-top: 20px;
    font-size: 60px;
}                                       
/* ----------------------------- header section complete here----------------------------------- */

#aboutsection{
    padding: 80px 0px;
    color:  #ababab}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_col_1{
    flex-basis: 35%;
    
}
.about_col_1 img{
    width: 100%;
    border-radius: 15px;

}
.about_col_2{
    width: 100%;
    border-radius: 15px;
    flex-basis: 60%;
}
.subtittle{
    font-size: 60px;
    font-weight: 600;
    color: #ffff;
}
.tab_tittles{
    display: flex;
    margin:20px 0px 40px ;
}
.tab_links{
    margin-right: 50px;
    font-weight:bold;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    color: rgb(230, 169, 169);
}
.tab_links::after{
    content: '';
    height: 3px;
    width: 0%;
    bottom: -8px;
left: 0;
    background: #ff040f;
    position: absolute;
    transition: 0.5s;
}
.tab_links.activelink:after{
    width:100%;
    transition: 1500ms;
}
.table_content_heading{
    font-size: 441px;
    color: #000000;
}
.tab_contents ul li{
    list-style: none;
    margin: 1   0px 0;
}
.tab_contents ul li span{
    color: #ff040f;
font-size: 18px;
display: none;
}
.tab_contents{
    display: none;
}

.tab_contents.activetab{
    display: block;
}
.colorkro{
    color: rgb(249, 141, 0)!important;
}
/* ----------------------------- services----------------------------------- */
.subtittle{
color: #e7fe16;
text-align: center;
font-size: 60px;
font-weight: 900;
font-family:Arial, Helvetica, sans-serif;
}
#services{
padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
    grid-gap: 30px;
    margin: 60px 60px 0px 60px;
    }
.services-list div{
 padding: 40px;
    background-color: #3080c5;
    font-size: 15px;
    font-weight: 400;
    border-radius: 25px;
transition: 0.9s; transform: 0.5s;
}   
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 25px;
}
.services-list div a{
    text-decoration: none;
    font-size: 12px;
    color: azure;
    margin-top: 25px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #c21d28;
    transform: translateX(-30px);
    border-radius: 110px;
}

.services-list #upper:hover{
    background-color: #c21d28;
    transform: translateY(-45px);
    border-radius: 110px;

}
.services-list #right:hover{
    background-color: #c21d28;
    transform: translateX(52px);
    border-radius: 110px;
}
/* ----------------------------- portfolio section----------------------------------- */
#portfolio{
    padding: 50px 0px ;
}

.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px ;
}
.work{
    border-radius: 10px;
    position: relati ve;
    overflow: hidden;
    position: relative;
}
  .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),#b23838);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
padding: 0px 40px;
text-align: center;
}
.layer h2 {
    font-weight: 900;
    color: #e7fe16;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #f51905;
    background-color: #fff;
    border-radius: 100px;
    font-size: 18px;
    text-decoration: none;
    line-height: 60px;
    height: 60px;
    width: 60px;
}
.btn{
display: block;
   margin-top: 20px ;
   margin: 50px auto;
   width: fit-content;
   border: 1px solid #ff004f;
   padding: 14px 50px;
   border-radius: 40px;
   text-decoration: none;
   color: whitesmoke;
   font-weight: 600;
font-size: 23px;
transition:background 0.8s;
}
.btn:hover{
background: #dedede;
color: #000000;
}
/* ----------------------------- contact form section----------------------------------- */
.contact_left{
    flex-basis:35%;
}
.contact_right{
    flex-basis:60%;
}
.contact_left p i{
    margin-right: 15px;
color: #4291b3;
font-size: 25px;
}
.social_icons{
    margin-top: 30px;
}
.social_icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #f2f4f5;
    display: inline-block;
    transition: 0.5s;
}
.social_icons a:hover{
    color: #4291b3;
   transform:translateY(-10px);
}
.btn2{
display: inline-block;
background-color: #b1083e;
}
.contact_right{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 10px;
    font-size: 24px; 
color: #fff;  
border-radius: 10px; 
}
form .btn2{
    padding: 14px 60px;
 font-size: 18px;
 margin-top: 20px;
 cursor: pointer;
border-radius: 20px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    margin-top: 20px;
    font-weight: 600;
    background-color: #262626;
}
.copyright i {
    margin-left: 5px;
    color: #ff1e00;
font-size: 28px;
}